<section class="contributing">
        <div>
                <img class = "logo right" src = "/images/computer.svg" width="400px">
        </div>

        <div class="text">
                <h1>Getting Started</h1>
                <p>Have a look at the <a href="/2017/02/18/introducing-bytesclub/">Beginner's Guide</a> and the <a href="/contributing/">contribution guidlines</a> and <a href="https://groups.google.com/forum/#!forum/bytes-club">join our mailing list</a></p>
                <h3>Open Source contribution is really fun, just get started!</h3>
        </div>
</section>
